/* CSS modal connexion/inscription */
#connection {
  font-family: 'Permanent Marker', cursive;
}

#loginButton {
float:right;
}

.errorMessage {
  color: red;
  font-family: 'Permanent Marker', cursive;
  }