/* CSS formulaire d'inscription */

body {
  /* Code pour que l'image reste fixe et responsive */
  margin: 0;
  padding: 0;
  background: url(../../images/theme/china-1651550_960_720.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}


	/* Méthode 1  */
/* #dropfile{
width: 300px;
height: 50px;
border: 3px dashed #BBBBBB;
line-height:50px;
text-align: center;
} */

/* Méthode 2 */
/* div#mabox
{
width:100px;
height:100px;
display:block;
border:5px solid #FF0000;
} */

/* Méthode 3 */
/* .dropper {
  margin: 50px 10px 10px 50px;
  width: 400px;
  height: 250px;
  background-color: #555;
  border: 1px solid #111;
  
  border-radius: 10px;
  transition: all 200ms linear;
}

.drop_hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

.draggable {
  display: inline-block;
  margin: 20px 10px 10px 20px;
  padding-top: 20px;
  width: 80px;
  height: 60px;
  color: #3D110F;
  background-color: #822520;
  border: 4px solid #3D110F;
  text-align: center;
  font-size: 2em;
  cursor: move;

  transition: all 200ms linear;
  user-select: none;
} */

#inscriptionTitle {
  margin-top: 20rem;
  background-color: rgba(255, 255, 255, 0.65);
}

#inscriptionEnd {
  margin-bottom: 25rem;
}

.police {
  font-family: 'Permanent Marker', cursive;
}

.space {
  margin-bottom: 2rem;
}

.inputInscription{
  outline: none;
  border: none;
  border-bottom: 1px solid #9ee0c4;
  background-color: transparent;
  width: 18rem;
  color: #336699;
  font-weight: bold;
}

textarea {
  color: #336699;
  font-weight: bold;
}



#legend1 {
margin-top: -12rem;
font-family: 'Permanent Marker', cursive;
letter-spacing: 0.5rem;
}

#submitInscriptionForm {
background-color: #336699;
color: white;
}

#submitInscriptionForm:hover {
background-color: #fcd600;
color: #0a0901;
} 

#headingOne {
background-color: #7f6e7f;
}

#collapseOne {
background-color: white;
}

#accordion {
margin-bottom: -6rem;
}

.card {
margin-top: 3rem;
background-color: rgba(255, 255, 255, 0.65);
}

.red {
border: red solid 2px;
}

.errorMessage {
color: red;
font-family: 'Permanent Marker', cursive;
}

/* Fin CSS formulaire d'inscription */